.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form {
  margin: 0px auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.input {
  width: 240px;
  padding: 5px;
}
