:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #48074ede;

  background-color: #a4df93e4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li,
ul,
ol {
  list-style: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: flex-start;
  gap: 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: inherit;
  background-color: #48074ede;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 5px;
}
button:hover {
  background-color: #905696d3;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
